# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# macOS
.DS_Store

# Logs
*.log

# Dolt database files (added by bd init)
.dolt/
*.db

# Beads / Dolt files (added by bd init)
.beads-credential-key
.beads/proxieddb/
